@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: white
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    text-align: center;
    margin: 1rem;
  }

  .bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 4 15 / var(--tw-bg-opacity));
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #fff8a4 0%, /* White */
      #fff8a4 15%, /* Very Pale Yellow */
      #fff8a4 30%, /* Pale Yellow */
      #ffec7c 45%, /* Custom Shade */
      #ffea6a 60%, /* Light Yellow */
      #ffd43b 75%, /* Yellow */
      #ffd43b 100% /* Yellow */
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .white__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ffec7c 100%);
    filter: blur(123px);
  }

  .blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ffec7c 100%);
    filter: blur(123px);
  }
